tags	ids	groups	distance	locations	minFindsG	maxFindsG
TTGTCACGGTAATTA	CMO01	CMO	2	1:0:40	1	1
ATCGAACCGACAGAG	CMO02	CMO	2	1:0:40	1	1
GGTCGAATATGTCGG	CMO03	CMO	2	1:0:40	1	1
CTCAAGCATTATCAT	CMO04	CMO	2	1:0:40	1	1
TCGCCTTACTAGTAC	CMO05	CMO	2	1:0:40	1	1
TTCTGCCTGCTCAGG	CMO06	CMO	2	1:0:40	1	1
AGGAGTCCCATGCCT	CMO07	CMO	2	1:0:40	1	1
GTAGAGAGCCTCTCT	CMO08	CMO	2	1:0:40	1	1
CATAAGCGACTGCTC	CMO09	CMO	2	1:0:40	1	1
AACGATAGCCTTGAA	CMO10	CMO	2	1:0:40	1	1
ATGAGCCGATACTAT	CMO11	CMO	2	1:0:40	1	1
GCATGCAACCGGAGT	CMO12	CMO	2	1:0:40	1	1
ATATAGGACGGCATT	CMO13	CMO	2	1:0:40	1	1
CTGAGCATAGCTGAG	CMO14	CMO	2	1:0:40	1	1
GAACCGTTCGCCAAG	CMO15	CMO	2	1:0:40	1	1
CCAGGCATTCAAGTA	CMO16	CMO	2	1:0:40	1	1
ATAGACCTTCCTGAG	CMO17	CMO	2	1:0:40	1	1
AATCCTCACTACCGG	CMO18	CMO	2	1:0:40	1	1
CGTCCAGACGCTTAC	CMO19	CMO	2	1:0:40	1	1
AATGAGATAGAGAAC	CMO20	CMO	2	1:0:40	1	1
CATTAGAAAAGGTAA	CMO21	CMO	2	1:0:40	1	1
AACGGTCTATAGCGC	CMO22	CMO	2	1:0:40	1	1
CAATGAACAGTACGT	CMO23	CMO	2	1:0:40	1	1
